extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7 
               h1 #{pagina}
               blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, consequatur. Ut nemo non iste harum eum quidem maxime quas atque placeat illum, incidunt soluta eius magni voluptatibus libero animi hic.

               p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, dicta dignissimos vero eveniet nisi, laudantium iste ullam, dolor repellendus corporis quod esse. Saepe, eum. Soluta temporibus consectetur quia delectus recusandae.

               p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, dicta dignissimos vero eveniet nisi, laudantium iste ullam, dolor repellendus corporis quod esse. Saepe, eum. Soluta temporibus consectetur quia delectus recusandae.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum inventore quo saepe aliquid. Incidunt aperiam accusamus esse reprehenderit facilis. Rerum odit eius pariatur, amet error praesentium impedit hic voluptatem voluptatibus!

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum inventore quo saepe aliquid. Incidunt aperiam accusamus esse reprehenderit facilis. Rerum odit eius pariatur, amet error praesentium impedit hic voluptatem voluptatibus!

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum inventore quo saepe aliquid. Incidunt aperiam accusamus esse reprehenderit facilis. Rerum odit eius pariatur, amet error praesentium impedit hic voluptatem voluptatibus!